<h5>Minimum Criteria</h5>

<p><span style="font-weight: bold; color: red;">Important - Please Read</span>. We set some basic requirements for you to have in place before you access our services to promote your opportunities to students. This is to safeguard both yourself and potential student volunteers. Please ensure you read this carefully below continuing.</p> 

<p>The following are <b>essential requirements</b>:</p>

<ul>
  <li>Insurance that sufficiently covers your volunteers' activities</li>
  <li>A Health and Safety Policy that follows regulations in relation to the volunteers' work with your organisation or project</li>
  <li>If the activity relates to volunteering with children or vulnerable adults, we require you to comply with current legislation regarding disclosure/criminal record checks</li>
</ul>

<p>We also <b>strongly encourage</b> organisations to have the following:</p>

<ul>
  <li>A specific person who can act as a "go to" contact for the volunteer</li>
  <li>Regular volunteer supervision (formal or informal)</li>
  <li>A system of volunteer induction and training</li>
  <li>A Volunteer Policy with clear guidelines about induction, training, support, supervision and responsibility for volunteers and ending a volunteer role</li>
  <li>An Equal Opportunities Policy for your organisation as a whole.</li>
</ul>

<!--      <p><span style="font-weight: bold; color: red;">Please note</span>, we do not accept one off/events based fundraising volunteer opportunities (e.g. bucket shakes) but if you e-mail volunteer@canterbury.ac.uk we will advertise them on our Facebook page. However we are happy to advertise more substantial, regular fundraising roles.-->

<h5>Service Level Agreement</h5>

<p>We also require organisations to abide by the following Service Level Agreement. By registering your opportunity with us you agree to contact any referred student volunteers within five working days of referral. Failure to abide by this SLA may result in the withdrawal of XVS Volunteering Services.</p>