{% extends 'layout/master.html' %}

{% load url from future %}


{% block nav %}
  {{ block.super }}
  <a href="{% url 'profiles.views.representatives' %}">Representative List</a>
{% endblock %}

{% block extracss %}
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css" type="text/css"/>
{% endblock %}

{% block extrajavascript %}
  <script type="text/javascript" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/tables.js"></script>
  <script type="text/javascript" charset="utf-8">

    $(function(){
      set_up_table("representative", {});

      {% if action %}
        make_selectable();
      {% endif %}
    });

  </script>
{% endblock %}

{% block content %}

  <h2><a href="?{{ request.META.QUERY_STRING }}&amp;export=xls" class="rbutton icon excel">Export as XLS</a>
    <div class="filter">
      <label>Showing...</label>
      <a href="{% url 'representatives-list-all' %}" {% if filter == 'all' %}class='selected'{% endif %}>all representatives</a>
    </div>
    Representatives
  </h2>

  {% if action %}
    <div class="setfilter" style="padding-bottom: 15px;">
      <div class="section intro" style="height: auto;">
        <div style="font-size: 1.6em;">
          {% if action == "mailout" %}
            Creating a new representative mailout
          {% endif %}
        </div>
        <div style="font-weight: normal;">
          {% if action == "mailout" %}
            Select the representatives that you would like to create a new mailout for.
          {% endif %}
          <a href="#" onclick="select_visible(); return false;">(Select visible)</a> 
          <a href="#" onclick="select_all(); return false;">(Select all)</a> 
          <a href="#" onclick="select_none(); return false;">(Select none)</a>
        </div>
        <form id="action_form" method="post" onsubmit="set_ids(); return true;">
          {% csrf_token %}
          <input id="action_ids" name="action_ids" value="" type="hidden"/>
          <input id="action_button" type="submit" value="Perform this action with 0 representatives"/> 
        </form>
      </div>
    </div>
  {% endif %}

  <table id="representative_table" class="display">
    <thead>
      <tr>
        <th>Representative</th>
        <th>Email</th>
        <th>Organisation</th>
        {% if features.login_as and user.is_staff and not action %}<th></th>{% endif %}
      </tr>
    </thead>
    <tbody>
      {% for representative in representatives %}
        <tr id="v{{ representative.id }}">
          <td><a href="{% url 'profiles.views.profile' representative.id %}" class="entity representative">{{ representative.get_full_name }}</a></td>
          <td><a href="mailto:{{ representative.email }}" class="entity email">{{ representative.email }}</a></td>
          <td>
            <a href="{{ representative.baseprofile.representativeprofile.organisation.get_absolute_url }}" class="entity organisation">
              {{ representative.baseprofile.representativeprofile.organisation.name }}
            </a>
          </td>
          {% if features.login_as and user.is_staff and not action %}<td><a href="{% url 'login_as_user' representative.id %}">Login as</a></td>{% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
    
{% endblock %}