<a href="http://xvs.org.uk" style="display: block; float: left;"><img src="{{ MEDIA_URL }}img/xvs-small-logo.png"/></a>

<div style="padding-top: 8px;">
  <a href="/">Stripe XVS<sup style="position:relative;top:-3px;z-index:-10;">OS</sup></a> DEV by <a href="http://www.stripesolutions.com">Stripe Software Solutions LLP</a> (c) <a href="http://www.stripesolutions.com">S<sup style="position:relative;top:-3px;z-index:-10;">3</sup>LLP</a>/<a href="http://x13n.com">x13N</a> 2011-2015. For help email <a href="mailto:{{ SUPPORT_EMAIL }}">{{ SUPPORT_EMAIL }}</a>
  <br />
  {% for link in header_links %}
  {{ link.render|safe }} {% if not forloop.last %}|<br />{% endif %}
  {% endfor %}
</div>

{% if features.ga %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ features.ga }}', 'auto');
  ga('send', 'pageview');

</script>
{% endif %}
