<!doctype html>
<html>
  <head>
    <title>{% block pagename %}Volunteering{% endblock %} - {{ FRIENDLY_NAME }}</title>

    <link rel="stylesheet" href="{{ MEDIA_URL }}css/master.css" type="text/css"/>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/smoothness/jquery-ui-1.8.7.custom.css" type="text/css"/>
    {% block extracss %}{% endblock extracss %}

    <style>
    @media print {
      .noprint {
        display: none;
      }
    }
    </style>

  </head>
  <body class="{% block bodyclass %}{% endblock %}">
    <div id="wrapper">

    <div id="content" style="clear: both;">
      {% block content %}
      
      {% endblock content %}
    </div>

    <div id="footer" class="{% block footerclass %}{% endblock %}">
      {% include 'layout/footer.html' %}
    </div>

    <!--endwrapper--></div>
  </body>
</html>
